django==3.2.25
django-crispy-forms==1.8.1
imageio==2.6.1
Keras==2.13.1
Keras-Applications==1.0.8
git+https://www.github.com/keras-team/keras-contrib.git
Keras-Preprocessing==1.1.0
matplotlib==2.2.3
nibabel==2.5.1
tensorboard==1.15.0
tensorflow-gpu==2.12.0
tensorflow-estimator==1.15.1
